# =========================================
#   PYTHON / DJANGO DEFAULT IGNORES
# =========================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
*.whl
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Archivos subidos por usuario
media/

# Archivos estáticos recolectados (collectstatic)
staticfiles/

# Static de desarrollo opcional
static/

# ============================
#   ENTORNO VIRTUAL
# ============================
env/
venv/
ENV/
env.bak/
venv.bak/
.entorno_virtual/
entorno_virtual/
.venv/
.env
.envrc

# Pyenv
.python-version

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# ============================================
#    CKEDITOR CACHE
# ============================================
/ckeditor/

# ============================================
#    RUFF
# ============================================
.ruff_cache/
