{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    
    <div class="card shadow-sm">
        <div class="card-body">

            <h3 class="mb-3">
                {% if form.instance.pk %}
                    Editar Categoría
                {% else %}
                    Nueva Categoría
                {% endif %}
            </h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle"></i> Guardar
                </button>

                <a href="{% url 'supermercado:categorias_list' %}" class="btn btn-secondary">
                    Volver
                </a>
            </form>

        </div>
    </div>

</div>
{% endblock %}
