{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Categoría: {{ categoria.nombre }}</h2>

    <p><strong>ID:</strong> {{ categoria.id }}</p>

    <a href="{% url 'supermercado:categoria_update' categoria.id %}" class="btn btn-warning">
        Editar
    </a>

    <a href="{% url 'supermercado:categoria_delete' categoria.id %}" class="btn btn-danger">
        Eliminar
    </a>

    <a href="{% url 'supermercado:categorias_list' %}" class="btn btn-secondary">
        Volver
    </a>
</div>
{% endblock %}
