{% extends "base.html" %}
{% block title %}Eliminar Categoría{% endblock %}

{% block content %}
<div class="alert alert-danger shadow-sm">
  <h4 class="alert-heading fw-bold">Eliminar Categoría</h4>
  <p>¿Estás seguro que deseas eliminar <strong>{{ object.nombre }}</strong>?</p>

  <hr>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
      <i class="bi bi-trash"></i> Sí, eliminar
    </button>
    <a href="{% url 'supermercado:categorias' %}" class="btn btn-secondary">
      Cancelar
    </a>
  </form>
</div>
{% endblock %}
