{% extends "base.html" %}
{% block title %}{{ categoria.nombre }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="fw-bold">{{ categoria.nombre }}</h2>

    {% if categoria.descripcion %}
      <p class="mt-2">{{ categoria.descripcion }}</p>
    {% endif %}

    <hr>

    <div class="d-flex gap-2">
      <a href="{% url 'supermercado:categorias' %}" class="btn btn-secondary">
        Volver
      </a>

      {% if user.is_authenticated %}
      <a href="{% url 'supermercado:categoria_update' categoria.pk %}" class="btn btn-primary">
        <i class="bi bi-pencil"></i> Editar
      </a>

      <a href="{% url 'supermercado:categoria_delete' categoria.pk %}" class="btn btn-danger">
        <i class="bi bi-trash"></i> Eliminar
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
