{% extends "base.html" %}
{% block title %}Categorías{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2 class="fw-bold">Categorías</h2>

  {% if user.is_authenticated %}
  <a href="{% url 'supermercado:categoria_create' %}" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Nueva Categoría
  </a>
  {% endif %}
</div>

{% if categorias %}
<ul class="list-group shadow-sm">
  {% for c in categorias %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <strong>{{ c.nombre }}</strong>
    <span>
      <a href="{% url 'supermercado:categoria_detail' c.pk %}" class="btn btn-sm btn-outline-primary">
        Ver
      </a>
    </span>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="text-muted">No hay categorías cargadas aún.</p>
{% endif %}

{% endblock %}
