{% extends "base.html" %}
{% load static %}

{% block title %}Formulario de producto{% endblock %}

{% block content %}
<div class="container py-4">

    <h2 class="fw-bold mb-3">{{ form.instance.pk|yesno:"Editar producto,Nuevo producto" }}</h2>

    <form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label class="form-label fw-bold">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button class="btn btn-primary">Guardar</button>

        <a href="{% url 'supermercado:productos' %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>

</div>
{% endblock %}
