{% extends "base.html" %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold">Productos disponibles</h2>

        {% if user.is_authenticated %}
        <a href="{% url 'supermercado:producto_create' %}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Nuevo producto
        </a>
        {% endif %}
    </div>

    {% if productos %}
    <div class="row g-4">
        {% for p in productos %}
        <div class="col-md-4">
            <div class="card shadow-sm h-100">

                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" class="card-img-top" style="height: 250px; object-fit: contain;">
                {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top" style="height: 250px; object-fit: contain;">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title text-capitalize">{{ p.nombre }}</h5>

                    <span class="badge bg-secondary mb-2">
                        {{ p.categoria }}
                    </span>

                    <p class="text-muted small mb-2">{{ p.descripcion|truncatewords:15 }}</p>

                    <a href="{% url 'supermercado:producto_detail' p.pk %}" class="btn btn-sm btn-outline-primary">
                        Ver más
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p class="text-muted">No hay productos cargados todavía.</p>
    {% endif %}
</div>
{% endblock %}
