{% extends "base.html" %}

{% block title %}Eliminar producto{% endblock %}

{% block content %}
<div class="container py-4">

    <h2 class="fw-bold text-danger mb-3">Eliminar producto</h2>

    <p>¿Estás seguro que deseas borrar el producto <strong>{{ object.nombre }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'supermercado:producto_detail' object.pk %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>

</div>
{% endblock %}
